body {
  font-family: monospace;
  background-color: rgb(84, 173, 149, 0.8);
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  line-height: 25px;
}

select {
  padding: 10px 100px;
  margin: 20px;
  border-radius: 7px;
}

footer {
  margin-top: 20px;
}
