body {
  font-family: monospace;
  background-color: teal;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  line-height: 25px;
}
