:root {
  --main-background-color: rgb(84, 173, 149);
  --link-color: rgb(211, 42, 0);
  --link-color-hover: rgb(252, 101, 68);
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: rgb(84, 173, 149, 0.8);
  text-align: center;
}

select {
  width: 100%;
  padding: 8px 0;
  margin: 20px 0;
  border-radius: 7px;
  text-align: center;
}

footer {
  font-size: 14px;
  margin: -20px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
}

h3 {
  font-weight: 600;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 50px;
  border-radius: 8px;
  line-height: 25px;
}

.city {
  font-weight: bolder;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.time {
  margin-top: 12px;
  font-weight: 800;
  font-size: 20px;
}

.date {
  font-size: 12px;
}
